td{
    border: 2px solid black;
}
        h1{
            background-color: #080d1be6;
            color: rgb(187, 227, 227);
            text-align: center;
            font-family: 'Gill sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        body{
            background-color: hsl(82, 38%, 60%);
        }
        button{
             background-color: rgba(76, 40, 144, 0.858);text-align: center;
        }
        